.event-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.event-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    z-index: 2;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    gap: 20px;
    padding: 20px;
}

.event-cards::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
.Heading{
    font-size: larger;
    font-weight: 500;
    color: var(--secondary);
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 20px;
}